h1 {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #313131;
}

#content {
  display: flex;
  justify-content: center; 
  flex-direction: column; 
  align-items: center; 
  margin: 25px;
  margin-top: 0%;
  margin: 0 auto;
  max-width: 415pt;
  height: auto;
}

#field {
    display: flex;
    justify-content: center;
}

textarea {
  resize: none;
  font-size: large;
  width: 100%;
  height: auto;
}

#shuffle_btn {
  justify-content: center;
  width: 99%;
  box-sizing:border-box;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 10px 25px;
  color: #313131;
  font-weight: 600;
  background: #eee;
  border-radius: 3px;
}

table {
  margin: auto;
  border: 1px solid #333;
}

td {
  border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
